<!DOCTYPE html>
<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>

<html>
<head>
    <title>Sys Dash</title>
</head>

<body>
<button type="button" onclick="runSprintReport('aviv.zech');">Aviv</button>
<button type="button" onclick="runSprintReport('michael.dreyer');">Michael</button>
<button type="button" onclick="runSprintReport('yuval.tamir');">Yuval</button>

<div id="content">
    <h1>{{title}}</h1>
    <p>{{content}}</p>
    <div>
        {% for pr in prs %}
        <br/>
        <h4> {{ pr.reason }} </h4>
        <h5> {{ pr.updated_at }} </h5>
        <a href="{{ pr.url }}"> {{ pr.title }}</a>
        <br/>
        {% endfor %}
    </div>

    <br/>
    <hr>


    <div>
        {% for new_ticket in new_tickets %}
        <br/>
        <h4> {{ new_ticket.summary }} </h4>
        <a href="{{ new_ticket.url }}"> {{ new_ticket.key }}</a>
        <br/>
        {% endfor %}
    </div>
</div>

</body>

<script type="text/javascript">
    function runSprintReport(user_name) {
        location.href = `/user/${user_name}/sprint_report`

    }
</script>

</html>